* {
    box-sizing: border-box;
}

h2 {
    color: rgb(21, 124, 221);
}
.event {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    border: 1px solid #157ee0;
    height: 25vh;
    max-width: 35%;
    margin-left: 30%;
    margin-top: 3%; 
}

.container > form {
    border: 1px solid #dfdfdf;
    padding: 20%;
    border-radius: 5%;
    background: #fff;
}

input {
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 3%;
    padding-left: 5%;
}

pre {
    width: 70%;
    color: #fff;
    font-size: larger;
}

p {
    color: black;
    margin: 1%;
}

.text {
    margin: 2px;
    padding: 5px;
}

.field{
    padding-bottom: 5%;
    margin: auto;
    padding: auto;
}


.btn {
    float: right;
    margin: auto;
    margin-right: 3%;
}

.log {
    float: right;
    color: #157ee0;
    width: auto;
}

.log > p {
    color: #157ee0;
}

a {
    text-align: center;
}

.info {
    color:red;
}