* {
    box-sizing: border-box;
}

.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 300;
}

.container > form {
    border: 1px solid #157ee0;
    padding: 15%;
    border-radius: 5%;
    background: #fff;
    margin: 5%;
}

input {
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 3%;
    padding-left: 5%;
}

pre {
    width: 70%;
    color: #fff;
    font-size: larger;
}

button {
    background: #157ee0 !important;
    padding: 3%;
    border-radius: 10px;
    width: 100%;
    color: white;
    margin-top: 5%;
}

p {
    color: rgb(255, 0, 0);
}

.text {
    margin: 2px;
    padding: 5px;
}

span {
    color: #157ee0;
    cursor: pointer;
}

.field {
    padding-bottom: 5%;
    margin: auto;
    padding: auto;
}

.change {
    text-align: center;
    margin-top: 10px;
    padding-top: 5%;
}

.programTypes {
    margin: 5%;
}

.menu {
    float: left;
}

.program {
    float: left;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 70%;
    margin-top: 2%; 
    margin-bottom: 2%;
}

.program > form {
    border: 1px solid #157ee0;
    padding: 15%;
    border-radius: 3%;
    background: #fff;
    margin-left: 5%;
}

.events {
    margin: 2%;
}

.orgs {
    margin: 2%;
}

.dropdownPT {
    margin: 0;
    padding: 0;
    width: fit-content;
    max-width: 400;
}